<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create task</title>
</head>
<body>
    <form action="/tasks/add/" method="post">
        {% csrf_token %}
        <label>Title:</label><br/>
        <input type="text" name="title"/><br/>
        <label>Status:</label><br/>
        <select>
            {% for value, status in statuses %}
                <option value="{{ value }}"> {{ status }}</option>
            {% endfor %}
        </select><br/>
        <label>Deadline(YYYY-MM-DD):</label><br/>
        <input type="text" name="deadline"/><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form>
    <br/>
    <a href="/">На главную</a>
</body>
</html>