{% extends "base.html" %}

{% block nav %}
     <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url "add" %}">Create task</a>
     </li>
 {% endblock %}
{% block content %}

    <h1>Список задач</h1>
    <div class="row">
        {% for plan in plans %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5>{{ plan.id }} - {{ plan.title }}</h5>
                        <p><a href="{% url "view" plan.pk %}">Подробнее</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{#    <br>#}
{#        <a href="{% url "add" %}">Создать новую задачу</a>#}

{% endblock %}