{% extends "base.html" %}
 {% block nav %}
     <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url "add" %}">Create task</a>
     </li>
     <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url "update" task.pk %}">Update task</a>
     </li>
 {% endblock %}
{% block content %}
<body>
        <p><b>Название задачи -</b> {{ task.title }}</p>
        <p><b>Статус задачи - </b> {{ task.status }}</p>
        <p><b>Задачу сдать к - </b> {{ task.deadline }}</p>
        <p><b>Описание задачи - </b> {{ task.description }}</p>
        <a href="{% url "index" %}">На главную</a>
</body>
{% endblock %}